In [1]:
# load packages

library(tidyverse)
library(rehh)
library(repr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.6     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
#read in the data

snps <- read.table("snps_filtered.txt", sep = '\t')
colnames(snps) = c("id", "chr", "pos", "ANC", "DER")
snps <- snps %>% arrange(pos) 
head(snps)

# snps %>% filter(is.na(ANC))
# snps %>% filter(is.na(DER))

  id         chr pos    ANC DER
1 X:X_365712 X   365712 A   G
2 X:X_400000 X   400000 T   C
3 X:X_400108 X   400108 A   G
4 X:X_400132 X   400132 T   G
5 X:X_400148 X   400148 A   G
6 X:X_400303 X   400303 C   G

In [3]:
#write.table(snps, "snps_filtered.txt", sep = '\t', col.names = F, row.names = F)

In [4]:
#read in genotype data

AF <- read.table("genotypes_AF", sep = '\t', header = F)
head(AF)

# apply(AF, 2, function(x) any(is.na(x)))

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ⋯ V12 V13 V14 V15 V16 V17 V18 V19 V20 V21
1 A  A  A  A  A  A  A  A  A  A   ⋯ A   A   A   A   A   A   A   A   A   A
2 T  T  T  T  T  T  T  T  T  T   ⋯ T   T   T   T   C   T   T   T   T   T
3 G  G  G  A  G  G  G  G  G  G   ⋯ G   G   G   G   G   G   G   G   G   G
4 G  T  T  T  G  G  T  T  T  T   ⋯ T   T   G   T   T   T   G   T   T   T
5 A  A  A  A  A  A  A  A  A  A   ⋯ A   A   A   A   A   A   A   A   A   A
6 G  C  C  G  C  C  G  C  C  C   ⋯ C   C   C   G   G   G   G   C   C   C

In [5]:
# read in metadata

pop_region_data <- read.table("metadata.txt", sep = '\t', header = T, col.names = c("n", "ind", "region"))
head(pop_region_data)

Warning message in read.table("metadata.txt", sep = "\t", header = T, col.names = c("n", :
“header and 'col.names' are of different lengths”

  n ind           region
1 1 S_Abkhasian-1 WestEurasia
2 2 S_Abkhasian-2 WestEurasia
3 3 S_Adygei-1    WestEurasia
4 4 S_Aleut-1     CentralAsiaSiberia
5 5 S_Ami-1       EastAsia
6 6 S_Ami-2       EastAsia

In [6]:
# data2haplohh converts data from input file to an object of class haplohh

print("Africa")
hap_AF <-data2haplohh(hap_file="genotypes_AF",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("West Eurasia")
hap_WE <-data2haplohh(hap_file="genotypes_WE",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("East Asia")
hap_EA <-data2haplohh(hap_file="genotypes_EA",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("South Asia")
hap_SA <-data2haplohh(hap_file="genotypes_SA",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("America")
hap_AM <-data2haplohh(hap_file="genotypes_AM",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("Central Asia Siberia")
hap_CAS <-data2haplohh(hap_file="genotypes_CAS",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

print("Oceania")
hap_O <-data2haplohh(hap_file="genotypes_O",
                      map_file="snps_filtered.txt",
                      allele_coding="map", 
                      min_perc_geno.mrk=100,
                      min_perc_geno.hap=100,
                      haplotype.in.columns=TRUE,
                      chr.name="X")

[1] "Africa"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 21 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
174849 237043
[1] "West Eurasia"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 44 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
259860 152032
[1] "East Asia"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 24 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
302583 109309
[1] "South Asia"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 30 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
279805 132087
[1] "America"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 6 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
359031 52861
[1] "Central Asia Siberia"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 8 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
336881 75011
[1] "Oceania"
* Reading input file(s) *
Map info: 411892 markers declared for chromosome X .
Haplotype input file in transposed format assumed.
Alleles are being recoded according to fourth and fifth column of map file.
* Filtering data *
Discard haplotypes with less than 100 % of genotyped markers.
No haplotype discarded.
Discard markers genotyped on less than 100 % of haplotypes.
No marker discarded.
Data consists of 12 haplotypes and 411892 markers.
Number of mono-, bi-, multi-allelic markers:
1 2
334611 77281

In [7]:
# calculate allele frequencies using scan_hh

#we give scan_hh the genotype data and map data (position)
#and then we calculate the frequencies of the A and D alleles, IHH. 

print("Africa")
res_scan_AF <- scan_hh(hap_AF)
write_delim(res_scan_AF, "res_scan_AF.csv", delim = "\t")
head(res_scan_AF)

print("West Eurasia")
res_scan_WE <- scan_hh(hap_WE)
write_delim(res_scan_WE, "res_scan_WE.csv", delim = "\t")
head(res_scan_WE)

print("East Asia")
res_scan_EA <- scan_hh(hap_EA)
write_delim(res_scan_EA, "res_scan_EA.csv", delim = "\t")

print("South Asia")
res_scan_SA <- scan_hh(hap_SA)
write_delim(res_scan_SA, "res_scan_SA.csv", delim = "\t")

print("America")
res_scan_AM <- scan_hh(hap_AM)
write_delim(res_scan_AM, "res_scan_AM.csv", delim = "\t")

print("CentralAsiaSiberia")
res_scan_CAS <- scan_hh(hap_CAS)
write_delim(res_scan_CAS, "res_scan_CAS.csv", delim = "\t")

print("Oceania")
res_scan_O <- scan_hh(hap_O)
write_delim(res_scan_O, "res_scan_O.csv", delim = "\t")

[1] "Africa"

           CHR POSITION FREQ_A     FREQ_D     NHAPLO_A NHAPLO_D IHH_A IHH_D IES
X:X_365712 X   365712   1.00000000 0.00000000 21        0       NA     0    NA
X:X_400000 X   400000   0.95238095 0.04761905 20        1       NA     0    NA
X:X_400108 X   400108   0.04761905 0.95238095  1       20        0    NA    NA
X:X_400132 X   400132   0.76190476 0.23809524 16        5       NA    NA    NA
X:X_400148 X   400148   1.00000000 0.00000000 21        0       NA     0    NA
X:X_400303 X   400303   0.61904762 0.38095238 13        8       NA    NA    NA
           INES
X:X_365712 NA
X:X_400000 NA
X:X_400108 NA
X:X_400132 NA
X:X_400148 NA
X:X_400303 NA

[1] "West Eurasia"

           CHR POSITION FREQ_A    FREQ_D    NHAPLO_A NHAPLO_D IHH_A IHH_D IES
X:X_365712 X   365712   1.0000000 0.0000000 44        0       NA     0    NA
X:X_400000 X   400000   1.0000000 0.0000000 44        0       NA     0    NA
X:X_400108 X   400108   0.7500000 0.2500000 33       11       NA    NA    NA
X:X_400132 X   400132   1.0000000 0.0000000 44        0       NA     0    NA
X:X_400148 X   400148   1.0000000 0.0000000 44        0       NA     0    NA
X:X_400303 X   400303   0.3636364 0.6363636 16       28       NA    NA    NA
           INES
X:X_365712 NA
X:X_400000 NA
X:X_400108 NA
X:X_400132 NA
X:X_400148 NA
X:X_400303 NA

[1] "East Asia"
[1] "South Asia"
[1] "America"
[1] "CentralAsiaSiberia"
[1] "Oceania"

In [4]:
res_scan_AF  <- read.csv("res_scan_AF.csv", sep = "\t", header = TRUE)
res_scan_WE  <- read.csv("res_scan_WE.csv", sep = "\t", header = TRUE)
res_scan_EA  <- read.csv("res_scan_EA.csv", sep = "\t", header = TRUE)
res_scan_SA  <- read.csv("res_scan_SA.csv", sep = "\t", header = TRUE)
res_scan_AM  <- read.csv("res_scan_AM.csv", sep = "\t", header = TRUE)
res_scan_CAS  <- read.csv("res_scan_CAS.csv", sep = "\t", header = TRUE)
res_scan_O  <- read.csv("res_scan_O.csv", sep = "\t", header = TRUE)
head(res_scan_AF)

  CHR POSITION FREQ_A     FREQ_D     NHAPLO_A NHAPLO_D IHH_A IHH_D IES INES
1 X   365712   1.00000000 0.00000000 21        0       NA     0    NA  NA
2 X   400000   0.95238095 0.04761905 20        1       NA     0    NA  NA
3 X   400108   0.04761905 0.95238095  1       20        0    NA    NA  NA
4 X   400132   0.76190476 0.23809524 16        5       NA    NA    NA  NA
5 X   400148   1.00000000 0.00000000 21        0       NA     0    NA  NA
6 X   400303   0.61904762 0.38095238 13        8       NA    NA    NA  NA

In [5]:
# combine data

res_scan_AF <- res_scan_AF %>% mutate(region = rep("Africa", nrow(res_scan_AF)))
res_scan_WE <- res_scan_WE %>% mutate(region = rep("WestEurasia", nrow(res_scan_WE)))
res_scan_EA <- res_scan_EA %>% mutate(region = rep("EastAsia", nrow(res_scan_EA)))
res_scan_SA <- res_scan_SA %>% mutate(region = rep("SouthAsia", nrow(res_scan_SA)))
res_scan_AM <- res_scan_AM %>% mutate(region = rep("America", nrow(res_scan_AM)))
res_scan_CAS <- res_scan_CAS %>% mutate(region = rep("CentralAsiaSiberia", nrow(res_scan_CAS)))
res_scan_O <- res_scan_O %>% mutate(region = rep("Oceania", nrow(res_scan_O)))

res_scan  <- bind_rows(res_scan_AF, res_scan_WE, res_scan_EA, res_scan_SA, res_scan_AM, res_scan_CAS, res_scan_O)
head(res_scan)

  CHR POSITION FREQ_A     FREQ_D     NHAPLO_A NHAPLO_D IHH_A IHH_D IES INES
1 X   365712   1.00000000 0.00000000 21        0       NA     0    NA  NA
2 X   400000   0.95238095 0.04761905 20        1       NA     0    NA  NA
3 X   400108   0.04761905 0.95238095  1       20        0    NA    NA  NA
4 X   400132   0.76190476 0.23809524 16        5       NA    NA    NA  NA
5 X   400148   1.00000000 0.00000000 21        0       NA     0    NA  NA
6 X   400303   0.61904762 0.38095238 13        8       NA    NA    NA  NA
  region
1 Africa
2 Africa
3 Africa
4 Africa
5 Africa
6 Africa

In [6]:
res_scan <- read.csv("res_scan_all_pop.csv", sep = "\t", header = TRUE)
head(res_scan)

  CHR POSITION FREQ_A     FREQ_D     NHAPLO_A NHAPLO_D IHH_A IHH_D IES INES
1 X   365712   1.00000000 0.00000000 21        0       NA     0    NA  NA
2 X   400000   0.95238095 0.04761905 20        1       NA     0    NA  NA
3 X   400108   0.04761905 0.95238095  1       20        0    NA    NA  NA
4 X   400132   0.76190476 0.23809524 16        5       NA    NA    NA  NA
5 X   400148   1.00000000 0.00000000 21        0       NA     0    NA  NA
6 X   400303   0.61904762 0.38095238 13        8       NA    NA    NA  NA
  region
1 Africa
2 Africa
3 Africa
4 Africa
5 Africa
6 Africa

## Functions for calculating FST

In [7]:
FST_per_position <- function(res_scan, pops){
    chr = NULL
    snp_pos = NULL
    H_S = NULL
    H_T = NULL
    FST = NULL
    print("here")
    subset_pops <- res_scan %>% filter(region %in% pops)
    
    for (i in 1:(nrow(snps))){
        chr[i] <- snps$chr[i]
        snp_pos[i] <- snps$pos[i]
        subset <- subset_pops %>% filter(POSITION == snp_pos[i])
        H_S[i] <- mean(2*subset$FREQ_A*subset$FREQ_D)
        H_T[i] <- 2*mean(subset$FREQ_A)*mean(subset$FREQ_D)
        FST[i] <- (H_T[i] - H_S[i])/H_T[i]                              
    }

    Fst  <- tibble(chr =  chr,
                   snp_pos = snp_pos, 
                   H_S = H_S, 
                   H_T = H_T, 
                   FST = FST)
    return(Fst)
}

In [8]:
avg_FST_in_sliding_windows <- function(FST_file, pops, window_size = 100){
    chr = NULL
    first_snp_pos = NULL
    last_snp_pos = NULL
    avg_FST = NULL
    print("here")
    ws_ = window_size - 1

    for (i in 1:(nrow(FST_file) - ws_)){
        chr[i] <- FST_file$chr[i]
        first_snp_pos[i] <- FST_file$snp_pos[i]
        last_snp_pos[i] <- FST_file$snp_pos[i + ws_]
        subset <- FST_file %>% filter(between(snp_pos, first_snp_pos[i], last_snp_pos[i]))
        avg_FST[i] <- mean(subset$FST)                              
    }

    Fst  <- tibble(chr =  chr,
                   first_snp_pos = first_snp_pos, 
                   last_snp_pos = last_snp_pos, 
                   avg_FST)
    return(Fst)
}

## Calculating FST per position

In [12]:
#between Africa and Europe
print("Africa - WestEurasia")
FST_AF_WE_per_position <- FST_per_position(res_scan, c("Africa", "WestEurasia"))
head(FST_AF_WE_per_position)
write_delim(FST_AF_WE_per_position, "FST_AF_WE_per_position.csv", delim = "\t")

missing_FST_AF_WE  <- which(is.na(FST_AF_WE_per_position$FST))
head(missing_FST_AF_WE)
length(missing_FST_AF_WE)

FST_AF_WE_per_position <- FST_AF_WE_per_position %>% mutate(FST = coalesce(FST, 0))

#between Europe and East Asia
print("WestEurasia - EastAsia")
FST_WE_EA_per_position <- FST_per_position(res_scan, c("WestEurasia", "EastAsia"))
head(FST_WE_EA_per_position)
write_delim(FST_WE_EA_per_position, "FST_WE_EA_per_position.csv", delim = "\t")

missing_FST_WE_EA <- which(is.na(FST_WE_EA_per_position$FST))
head(missing_FST_WE_EA)
length(missing_FST_WE_EA)

FST_WE_EA_per_position <- FST_WE_EA_per_position %>% mutate(FST = coalesce(FST, 0))

#between East Asia and Africa.
print("EastAsia - Africa")
FST_EA_AF_per_position <- FST_per_position(res_scan, c("EastAsia", "Africa"))
head(FST_EA_AF_per_position)
write_delim(FST_EA_AF_per_position, "FST_EA_AF_per_position.csv", delim = "\t")

missing_FST_EA_AF <- which(is.na(FST_EA_AF_per_position$FST))
head(missing_FST_EA_AF)
length(missing_FST_EA_AF)

FST_EA_AF_per_position <- FST_EA_AF_per_position %>% mutate(FST = coalesce(FST, 0))

[1] "Africa - WestEurasia"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.04535147 0.04648526 0.02439024
3 X   400108  0.23285147 0.47952098 0.51440816
4 X   400132  0.18140590 0.20975057 0.13513514
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.46723262 0.49985008 0.06525448

[1]  1  5  8 13 19 22

[1] 105192

[1] "WestEurasia - EastAsia"
[1] "here"

  chr snp_pos H_S       H_T       FST
1 X   365712  0.0000000 0.0000000         NaN
2 X   400000  0.0000000 0.0000000         NaN
3 X   400108  0.4097222 0.4131944 0.008403361
4 X   400132  0.0000000 0.0000000         NaN
5 X   400148  0.0000000 0.0000000         NaN
6 X   400303  0.4657800 0.4999354 0.068319773

[1] 1 2 4 5 7 8

[1] 222489

[1] "EastAsia - Africa"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000          NaN
2 X   400000  0.04535147 0.04648526 2.439024e-02
3 X   400108  0.26757370 0.45918367 4.172840e-01
4 X   400132  0.18140590 0.20975057 1.351351e-01
5 X   400148  0.00000000 0.00000000          NaN
6 X   400303  0.47020266 0.47022038 3.767472e-05

[1]  1  5  8 15 22 26

[1] 131113

In [ ]:
#between South Asia and Africa.
print("SouthAsia - Africa")
FST_AF_SA_per_position <- FST_per_position(res_scan, c("SouthAsia", "Africa"))
head(FST_AF_SA_per_position)
write_delim(FST_AF_SA_per_position, "FST_AF_SA_per_position.csv", delim = "\t")

missing_FST_AF_SA <- which(is.na(FST_AF_SA_per_position$FST))
head(missing_FST_AF_SA)
length(missing_FST_AF_SA)

FST_AF_SA_per_position <- FST_AF_SA_per_position %>% mutate(FST = coalesce(FST, 0))

#between Africa-America
print("Africa-America")
FST_AF_AM_per_position <- FST_per_position(res_scan, c("America", "Africa"))
head(FST_AF_AM_per_position)
write_delim(FST_AF_AM_per_position, "FST_AF_AM_per_position.csv", delim = "\t")

missing_FST_AF_AM <- which(is.na(FST_AF_AM_per_position$FST))
head(missing_FST_AF_AM)
length(missing_FST_AF_AM)

FST_AF_AM_per_position <- FST_AF_AM_per_position %>% mutate(FST = coalesce(FST, 0))

#between Africa-CentralAsiaSiberia
print("Africa-America")
FST_AF_CAS_per_position <- FST_per_position(res_scan, c("CentralAsiaSiberia", "Africa"))
head(FST_AF_CAS_per_position)
write_delim(FST_AF_CAS_per_position, "FST_AF_CAS_per_position.csv", delim = "\t")

missing_FST_AF_CAS <- which(is.na(FST_AF_CAS_per_position$FST))
head(missing_FST_AF_CAS)
length(missing_FST_AF_CAS)

FST_AF_CAS_per_position <- FST_AF_CAS_per_position %>% mutate(FST = coalesce(FST, 0))

#between Africa-Oceania
print("Africa-Oceania")
FST_AF_O_per_position <- FST_per_position(res_scan, c("Oceania", "Africa"))
head(FST_AF_O_per_position)
write_delim(FST_AF_O_per_position, "FST_AF_O_per_position.csv", delim = "\t")

missing_FST_AF_O <- which(is.na(FST_AF_O_per_position$FST))
head(missing_FST_AF_O)
length(missing_FST_AF_O)

FST_AF_O_per_position <- FST_AF_O_per_position %>% mutate(FST = coalesce(FST, 0))

#################################################################################

#between EastAsia-SouthAsia
print("EastAsia-SouthAsia")
FST_EA_SA_per_position <- FST_per_position(res_scan, c("SouthAsia", "EastAsia"))
head(FST_EA_SA_per_position)
write_delim(FST_EA_SA_per_position, "FST_EA_SA_per_position.csv", delim = "\t")

missing_FST_EA_SA <- which(is.na(FST_EA_SA_per_position$FST))
head(missing_FST_EA_SA)
length(missing_FST_EA_SA)

FST_EA_SA_per_position <- FST_EA_SA_per_position %>% mutate(FST = coalesce(FST, 0))

#between EastAsia-America
print("EastAsia-America")
FST_EA_AM_per_position <- FST_per_position(res_scan, c("America", "EastAsia"))
head(FST_EA_AM_per_position)
write_delim(FST_EA_AM_per_position, "FST_EA_AM_per_position.csv", delim = "\t")

missing_FST_EA_AM <- which(is.na(FST_EA_AM_per_position$FST))
head(missing_FST_EA_AM)
length(missing_FST_EA_AM)

FST_EA_AM_per_position <- FST_EA_AM_per_position %>% mutate(FST = coalesce(FST, 0))

#between EastAsia-CentralAsiaSiberia
print("EastAsia-CentralAsiaSiberia")
FST_EA_CAS_per_position <- FST_per_position(res_scan, c("CentralAsiaSiberia", "EastAsia"))
head(FST_EA_CAS_per_position)
write_delim(FST_EA_CAS_per_position, "FST_EA_CAS_per_position.csv", delim = "\t")

missing_FST_EA_CAS <- which(is.na(FST_EA_CAS_per_position$FST))
head(missing_FST_EA_CAS)
length(missing_FST_EA_CAS)

FST_EA_CAS_per_position <- FST_EA_CAS_per_position %>% mutate(FST = coalesce(FST, 0))

#between EastAsia-Oceania
print("EastAsia-Oceania")
FST_EA_O_per_position <- FST_per_position(res_scan, c("Oceania", "EastAsia"))
head(FST_EA_O_per_position)
write_delim(FST_EA_O_per_position, "FST_EA_O_per_position.csv", delim = "\t")

missing_FST_EA_O <- which(is.na(FST_EA_O_per_position$FST))
head(missing_FST_EA_O)
length(missing_FST_EA_O)

FST_EA_O_per_position <- FST_EA_O_per_position %>% mutate(FST = coalesce(FST, 0))

[1] "SouthAsia - Africa"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.04535147 0.04648526 0.02439024
3 X   400108  0.28535147 0.43791383 0.34838442
4 X   400132  0.18140590 0.20975057 0.13513514
5 X   400148  0.03222222 0.03277778 0.01694915
6 X   400303  0.43138322 0.43791383 0.01491301

[1]  1  8 10 12 19 22

[1] 120191

[1] "Africa-America"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.04535147 0.04648526 0.02439024
3 X   400108  0.04535147 0.49886621 0.90909091
4 X   400132  0.18140590 0.20975057 0.13513514
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.37471655 0.39767574 0.05773343

[1]  1  5  8 10 12 13

[1] 161827

[1] "Africa-America"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.04535147 0.04648526 0.02439024
3 X   400108  0.04535147 0.49886621 0.90909091
4 X   400132  0.18140590 0.20975057 0.13513514
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.47020266 0.49998228 0.05956135

[1]  1  5 10 15 19 21

[1] 154961

[1] "Africa-Oceania"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.043478261
2 X   400000  0.04535147 0.04648526 0.024390244
3 X   400108  0.12174036 0.12237812 0.005211349
4 X   400132  0.18140590 0.20975057 0.135135135
5 X   400148  0.00000000 0.00000000         NaN
6 X   400303  0.45804989 0.45918367 0.002469136

[1]  5  8 10 12 13 15

[1] 149745

[1] "EastAsia-SouthAsia"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000         NaN
2 X   400000  0.00000000 0.00000000         NaN
3 X   400108  0.46222222 0.46444444 0.004784689
4 X   400132  0.00000000 0.00000000         NaN
5 X   400148  0.03222222 0.03277778 0.016949153
6 X   400303  0.42993056 0.43579861 0.013465063

[1]  1  2  4  7  8 11

[1] 245685

[1] "EastAsia-America"
[1] "here"

  chr snp_pos H_S       H_T       FST
1 X   365712  0.0000000 0.0000000        NaN
2 X   400000  0.0000000 0.0000000        NaN
3 X   400108  0.2222222 0.2777778 0.20000000
4 X   400132  0.0000000 0.0000000        NaN
5 X   400148  0.0000000 0.0000000        NaN
6 X   400303  0.3732639 0.3949653 0.05494505

[1] 1 2 4 5 7 8

[1] 293768

[1] "EastAsia-CentralAsiaSiberia"
[1] "here"

  chr snp_pos H_S       H_T       FST
1 X   365712  0.0000000 0.0000000    NaN
2 X   400000  0.0000000 0.0000000    NaN
3 X   400108  0.2222222 0.2777778 0.2000
4 X   400132  0.0000000 0.0000000    NaN
5 X   400148  0.0000000 0.0000000    NaN
6 X   400303  0.4687500 0.5000000 0.0625

[1]  1  2  4  5  7 11

[1] 288424

[1] "EastAsia-Oceania"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.043478261
2 X   400000  0.00000000 0.00000000         NaN
3 X   400108  0.29861111 0.46875000 0.362962963
4 X   400132  0.00000000 0.00000000         NaN
5 X   400148  0.00000000 0.00000000         NaN
6 X   400303  0.45659722 0.45746528 0.001897533

[1]  2  4  5  7  8 11

[1] 278057

[1] "SouthAsia-America"

In [9]:
#####################################################################################

#between SouthAsia-America
print("SouthAsia-America")
FST_SA_AM_per_position <- FST_per_position(res_scan, c("America", "SouthAsia"))
head(FST_SA_AM_per_position)
write_delim(FST_SA_AM_per_position, "FST_SA_AM_per_position.csv", delim = "\t")

missing_FST_SA_AM <- which(is.na(FST_SA_AM_per_position$FST))
head(missing_FST_SA_AM)
length(missing_FST_SA_AM)

FST_SA_AM_per_position <- FST_SA_AM_per_position %>% mutate(FST = coalesce(FST, 0))

#between SouthAsia-CentralAsiaSiberia
print("SouthAsia-CentralAsiaSiberia")
FST_SA_CAS_per_position <- FST_per_position(res_scan, c("CentralAsiaSiberia", "SouthAsia"))
head(FST_SA_CAS_per_position)
write_delim(FST_SA_CAS_per_position, "FST_SA_CAS_per_position.csv", delim = "\t")

missing_FST_SA_CAS <- which(is.na(FST_SA_CAS_per_position$FST))
head(missing_FST_SA_CAS)
length(missing_FST_SA_CAS)

FST_SA_CAS_per_position <- FST_SA_CAS_per_position %>% mutate(FST = coalesce(FST, 0))

#between SouthAsia-Oceania
print("SouthAsia-Oceania")
FST_SA_O_per_position <- FST_per_position(res_scan, c("Oceania", "SouthAsia"))
head(FST_SA_O_per_position)
write_delim(FST_SA_O_per_position, "FST_SA_O_per_position.csv", delim = "\t")

missing_FST_SA_O <- which(is.na(FST_SA_O_per_position$FST))
head(missing_FST_SA_O)
length(missing_FST_SA_O)

FST_SA_O_per_position <- FST_SA_O_per_position %>% mutate(FST = coalesce(FST, 0))

#between SouthAsia-WestEurasia
print("SouthAsia-WestEurasia")
FST_SA_WE_per_position <- FST_per_position(res_scan, c("WestEurasia", "SouthAsia"))
head(FST_SA_WE_per_position)
write_delim(FST_SA_WE_per_position, "FST_SA_WE_per_position.csv", delim = "\t")

missing_FST_SA_WE <- which(is.na(FST_SA_WE_per_position$FST))
head(missing_FST_SA_WE)
length(missing_FST_SA_WE)

FST_SA_WE_per_position <- FST_SA_WE_per_position %>% mutate(FST = coalesce(FST, 0))

#####################################################################################

#between America-CentralAsiaSiberia
print("America-CentralAsiaSiberia")
FST_AM_CAS_per_position <- FST_per_position(res_scan, c("America", "CentralAsiaSiberia"))
head(FST_AM_CAS_per_position)
write_delim(FST_AM_CAS_per_position, "FST_AM_CAS_per_position.csv", delim = "\t")

missing_FST_AM_CAS <- which(is.na(FST_AM_CAS_per_position$FST))
head(missing_FST_AM_CAS)
length(missing_FST_AM_CAS)

FST_AM_CAS_per_position <- FST_AM_CAS_per_position %>% mutate(FST = coalesce(FST, 0))

#between America-Oceania
print("America-Oceania")
FST_AM_O_per_position <- FST_per_position(res_scan, c("America", "Oceania"))
head(FST_AM_O_per_position)
write_delim(FST_AM_O_per_position, "FST_AM_O_per_position.csv", delim = "\t")

missing_FST_AM_O <- which(is.na(FST_AM_O_per_position$FST))
head(missing_FST_AM_O)
length(missing_FST_AM_O)

FST_AM_O_per_position <- FST_AM_O_per_position %>% mutate(FST = coalesce(FST, 0))

#between America-WestEurasia
print("America-WestEurasia")
FST_AM_WE_per_position <- FST_per_position(res_scan, c("America", "WestEurasia"))
head(FST_AM_WE_per_position)
write_delim(FST_AM_WE_per_position, "FST_AM_WE_per_position.csv", delim = "\t")

missing_FST_AM_WE <- which(is.na(FST_AM_WE_per_position$FST))
head(missing_FST_AM_WE)
length(missing_FST_AM_WE)

FST_AM_WE_per_position <- FST_AM_WE_per_position %>% mutate(FST = coalesce(FST, 0))

#####################################################################################

#between CentralAsiaSiberia-Oceania
print("CentralAsiaSiberia-Oceania")
FST_CAS_O_per_position <- FST_per_position(res_scan, c("Oceania", "CentralAsiaSiberia"))
head(FST_CAS_O_per_position)
write_delim(FST_CAS_O_per_position, "FST_CAS_O_per_position.csv", delim = "\t")

missing_FST_CAS_O <- which(is.na(FST_CAS_O_per_position$FST))
head(missing_FST_CAS_O)
length(missing_FST_CAS_O)

FST_CAS_O_per_position <- FST_CAS_O_per_position %>% mutate(FST = coalesce(FST, 0))

#between CentralAsiaSiberia-WestEurasia
print("CentralAsiaSiberia-WestEurasia")
FST_CAS_WE_per_position <- FST_per_position(res_scan, c("WestEurasia", "CentralAsiaSiberia"))
head(FST_CAS_WE_per_position)
write_delim(FST_CAS_WE_per_position, "FST_CAS_WE_per_position.csv", delim = "\t")

missing_FST_CAS_WE <- which(is.na(FST_CAS_WE_per_position$FST))
head(missing_FST_CAS_WE)
length(missing_FST_CAS_WE)

FST_CAS_WE_per_position <- FST_CAS_WE_per_position %>% mutate(FST = coalesce(FST, 0))

#####################################################################################

#between Oceania-WestEurasia
print("Oceania-WestEurasia")
FST_O_WE_per_position <- FST_per_position(res_scan, c("Oceania", "WestEurasia"))
head(FST_O_WE_per_position)
write_delim(FST_O_WE_per_position, "FST_O_WE_per_position.csv", delim = "\t")

missing_FST_O_WE <- which(is.na(FST_O_WE_per_position$FST))
head(missing_FST_O_WE)
length(missing_FST_O_WE)

FST_O_WE_per_position <- FST_O_WE_per_position %>% mutate(FST = coalesce(FST, 0))

[1] "SouthAsia-America"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.24000000 0.32000000 0.25000000
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.03222222 0.03277778 0.01694915
6 X   400303  0.33444444 0.33944444 0.01472995

[1]  1  2  4  7  8 10

[1] 271969

[1] "SouthAsia-CentralAsiaSiberia"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.24000000 0.32000000 0.25000000
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.03222222 0.03277778 0.01694915
6 X   400303  0.42993056 0.49413194 0.12992762

[1]  1  2  4  7 10 11

[1] 268105

[1] "SouthAsia-Oceania"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.043478261
2 X   400000  0.00000000 0.00000000         NaN
3 X   400108  0.31638889 0.44986111 0.296696511
4 X   400132  0.00000000 0.00000000         NaN
5 X   400148  0.03222222 0.03277778 0.016949153
6 X   400303  0.41777778 0.42000000 0.005291005

[1]  2  4  7  8 10 11

[1] 259172

[1] "SouthAsia-WestEurasia"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.00000000 0.00000000        NaN
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.42750000 0.43875000 0.02564103
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.03222222 0.03277778 0.01694915
6 X   400303  0.42696051 0.49529844 0.13797323

[1]  1  2  4  7  8 11

[1] 217104

[1] "America-CentralAsiaSiberia"
[1] "here"

  chr snp_pos H_S       H_T       FST
1 X   365712  0.0000000 0.0000000       NaN
2 X   400000  0.0000000 0.0000000       NaN
3 X   400108  0.0000000 0.0000000       NaN
4 X   400132  0.0000000 0.0000000       NaN
5 X   400148  0.0000000 0.0000000       NaN
6 X   400303  0.3732639 0.4782986 0.2196007

[1] 1 2 3 4 5 7

[1] 323889

[1] "America-Oceania"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.04347826
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.07638889 0.49652778 0.84615385
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.36111111 0.37500000 0.03703704

[1]  2  4  5  7  8 10

[1] 313632

[1] "America-WestEurasia"
[1] "here"

  chr snp_pos H_S       H_T       FST
1 X   365712  0.0000000 0.0000000       NaN
2 X   400000  0.0000000 0.0000000       NaN
3 X   400108  0.1875000 0.2187500 0.1428571
4 X   400132  0.0000000 0.0000000       NaN
5 X   400148  0.0000000 0.0000000       NaN
6 X   400303  0.3702938 0.4806015 0.2295199

[1] 1 2 4 5 7 8

[1] 251325

[1] "CentralAsiaSiberia-Oceania"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.04347826
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.07638889 0.49652778 0.84615385
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.45659722 0.49913194 0.08521739

[1]  2  4  5  7 10 11

[1] 304786

[1] "CentralAsiaSiberia-WestEurasia"
[1] "here"

  chr snp_pos H_S     H_T       FST
1 X   365712  0.00000 0.0000000          NaN
2 X   400000  0.00000 0.0000000          NaN
3 X   400108  0.18750 0.2187500 0.1428571429
4 X   400132  0.00000 0.0000000          NaN
5 X   400148  0.00000 0.0000000          NaN
6 X   400303  0.46578 0.4658445 0.0001386001

[1]  1  2  4  5  7 11

[1] 247435

[1] "Oceania-WestEurasia"
[1] "here"

  chr snp_pos H_S        H_T        FST
1 X   365712  0.07638889 0.07986111 0.04347826
2 X   400000  0.00000000 0.00000000        NaN
3 X   400108  0.26388889 0.48611111 0.45714286
4 X   400132  0.00000000 0.00000000        NaN
5 X   400148  0.00000000 0.00000000        NaN
6 X   400303  0.45362718 0.49954086 0.09191176

[1]  2  4  5  7  8 11

[1] 237540